@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Train+One&display=swap');

.header{
    display:flex;
    padding: 20px;
    color: #fff;
    background: #405066;
    height: 60px;
    justify-content: space-evenly;
}
.nav{
    padding-top: 40px;
    position:absolute;
    margin-left: 20%;
    justify-content: space-evenly;
  

}
.nav > a{
    padding-right: 150px;
    text-decoration: none;
    color: #fff;
    justify-content: space-evenly;
    
  
}
@media all and (max-width: 800px) {
    .nav > a{
      font-size: 20px;
      color: lime;
      padding-right: 20px;
    }
}
.container{
    width: 100%;
    background: #fff;
    display: flex;
}
#band{
    padding-top: 0;
}
.band{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
#band-info > h3{
    font-family:'Pacifico', cursive;

}
#band>img{
    margin-left: 25%;
}
#band-info{
    width: 70%;
    display:inline;
    margin-left: 100px;
    padding-bottom: 30px;

}
.members-info{
    width: 70%;
    
}
.musics{
    background:rgb(221, 196, 245);
    width: 30%;
}
.col{
    display: flex;
    color: cornsilk;
    width: 96%;
    padding-top: 20px;
    margin: 5px;
    margin-bottom: 30px;
    justify-content: space-around;
    background-color: #5f6c7d;
    border: 1px solid gray;
}
#member-info{
    text-align: center;
}
img{
    width: 450px;
    height: 300px;
    padding: 20px;
}
.musics{
    text-align: center;
    margin: 5px;
    margin-bottom: 30px;
}
#latest-musica{
        margin-left: 10%;

}
.album > img{
    width: 250px;
    height: 200px;
}
.awards, .album, #Album{
    border: 1px solid;
    margin: 30px;
    box-shadow:  15px 20px #806180;
}
.awards > img{
    width: 200px;
    height: 200px;

}
 #Album,#latest-musica,#single{
    border: 1px solid;
    margin: 30px;
    box-shadow:  10px 15px #543554;
}
footer{
    color: #fff;
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    background-color: #828487;
    font-size: large;
    
}
.handles{
    justify-content: center;
    margin-left:44%;
}
.handles > i{
    
    padding: 10px;
}

.copy{
    text-align: center;
}